@import url('../../base/base.styles.css');

sp-table {
  max-inline-size: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-start: var(--spectrum-spacing-100);
}

sp-table-head-cell {
  text-align: end;
}

sp-table-row {
  display: contents;
}

[slot="description"]::before {
    content: '';
}
