@import url('../../base/base.styles.css');

:host {
  display: flex;
}

sp-card {
    inline-size: 100%;
}

sp-table {
  max-inline-size: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-start: var(--spectrum-spacing-100);
}

sp-table-head-cell {
  text-align: end;
}

sp-table-row {
  display: contents;
}

[slot="description"]::before {
    content: '';
}

[slot="footer"] {
    display: flex;
    align-items: center;
    gap: var(--spectrum-spacing-200);
}

#open-with {
    font-size: var(--spectrum-font-size-100);
    font-weight: var(--spectrum-medium-font-weight);
}
