
@import url('../../base/base.styles.css');


:host {
  display: block;
}

.wiz-page--form {
    max-block-size: 50vb;
    overflow: scroll;
}

.wiz-page--success,
.wiz-page--error,
.wiz-page--pending {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: var(--spectrum-spacing-200);
    min-block-size: 30vb;
    align-items: center;
    justify-content: center;
}

#subject-pod-info {
    display: block;
    box-shadow: var(--spectrum-drop-shadow-blur);
    align-self: center;
}

sp-textfield {
    /* margin-inline-start: var(--spectrum-spacing-600); */
}


fieldset {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--spectrum-spacing-200);
}

sp-field-label {
    justify-self: end;
}
