
@import url('../../base/base.styles.css');


:host {
  display: block;
}

.wiz-page--form {
    max-block-size: 50vb;
    overflow: scroll;
}

.wiz-page--success,
.wiz-page--error,
.wiz-page--pending {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: var(--spectrum-spacing-200);
    min-block-size: 30vb;
    align-items: center;
    justify-content: center;
}

#subject-pod-info {
    display: block;
    box-shadow: var(--spectrum-drop-shadow-blur);
    align-self: center;
}

sp-textfield {
    /* margin-inline-start: var(--spectrum-spacing-600); */
}


fieldset {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--spectrum-spacing-200);
}

.field-label {
    display: block;
    font-weight: var(--spectrum-medium-font-weight);
}

.field-description {
    display: block;
    font-size: var(--spectrum-font-size-50);
}

.field-label:has(~ input[required]) {
    content: '*';
}

input, textarea {
    border-width: var(--spectrum-border-width-100);
    border-radius: var(--spectrum-corner-radius-100);
    margin-block-start: var(--spectrum-spacing-100);
}

input {
    height: calc( 1.2 * var(--spectrum-component-height-75));
}

input:invalid {
    border-color: var(--spectrum-negative-border-color-default);
}

