@import url('../../base/base.styles.css');

:host {
  display: block;
}

/* ul {
    list-style: square;
    display: flex;
    flex-direction: column;
    gap: var(--spectrum-spacing-200);
    inline-size: max-content;
} */

#podset-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 30em));
    gap: var(--spectrum-spacing-200);
    align-items: stretch;
}

li {
    display: contents;
}

/* li {
    inline-size: 100%;
} */

/* li + sn-pod-info {
    inline-size: 100%;
} */
